/* Import Tailwind */
@import "tailwindcss";

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

:root {
  background: white;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

html, body, #root {
  height: 100%;
}

.animate-border {
  animation: spin-border 4s linear infinite;
}

@keyframes spin-border {
  to {
    --border-angle: 360deg;
  }
}